---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
    <div class="relative flex flex-col items-center md:flex-row" id="projects">
        <Topic
            title="Why Us"
            description="First impressions matter! A clean exterior not only enhances your home’s appearance but also increases its value"
        />
    </div>

    <div
        class="w-full p-12 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white"
    >
        <div
            class="grid grid-cols-1 md:grid-cols-3 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0"
        >
            <div
                class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
            >
                <div class="w-full text-lg font-normal">
                    Our team of experienced professionals uses the latest
                    equipment and techniques to deliver top-notch results.
                    Whether it’s removing stubborn grime, mold, or mildew, we’ve
                    got you covered.
                </div>
            </div>
            <div
                class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
            >
                <div class="w-full text-lg font-normal">
                    Regular pressure washing helps prevent long-term damage
                    caused by dirt, mold, and mildew. Save money on costly
                    repairs by maintaining your property’s exterior with our
                    reliable services.
                </div>
            </div>
            <div
                class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
            >
                <div class="w-full text-lg font-normal">
                    Your satisfaction is our top priority. We’re committed to
                    delivering excellent service and ensuring you’re happy with
                    the results.
                </div>
            </div>
        </div>

        <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
        <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    </div>
</Container>
