---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
    <div class="relative flex flex-col items-center md:flex-row">
        <Topic
            title="Testimonials"
            description="Hear from Our Satisfied Clients: Read Our Testimonials to Learn More about Our Digital Marketing Services"
        />
    </div>

    <div
        class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]"
    >
        <div
            class="justify-items-center relative w-full border border-lime rounded-3xl"
        >
            <div class="p-4 md:p-10">
                <p
                    class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4"
                >
                    "We have been using Prestige Pro Wash for the past year and
                    are thrilled with the results. Our home looks immaculate
                    after every service. The team is professional, responsive,
                    and dedicated to ensuring our satisfaction. We highly
                    recommend Prestige Pro Wash to anyone looking to enhance
                    their property’s curb appeal and maintain a clean, beautiful
                    home."
                </p>
                <span class="text-lime text-base md:text-xl font-medium"
                    >Tamir Henderson<br /></span
                ><span class="text-white text-lg font-normal">Atlanta, GA</span>
            </div>
        </div>
    </div>
</Container>
